@media only screen and (max-width: 40em)
{
  /* ---------------------------------------------------------------------------------------------------------------- */
  th.input-table
  {
    display: inline;
  }

  /* ---------------------------------------------------------------------------------------------------------------- */
  /*                                                                                                                  */
  /*                                             general form controls                                                */
  /*                                                                                                                  */
  /* ---------------------------------------------------------------------------------------------------------------- */
  tr.input-table
  {
    display:       block;
    margin-bottom: 12px;
  }

  td.input-table
  {
    display: block;
  }

  td.input-table input[type=email],
  td.input-table input[type=number],
  td.input-table input[type=text],
  td.input-table input[type=url],
  td.input-table textarea
  {
    max-width:          calc(100vw - 2 * (6px + 1px + 2px));
    border-radius:      0;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
  }

  td.input-table input[type=date],
  td.input-table select
  {
    border-radius: 0;
  }

  /* ---------------------------------------------------------------------------------------------------------------- */
  /*                                                                                                                  */
  /*                                           labels and errors                                                      */
  /*                                                                                                                  */
  /* ---------------------------------------------------------------------------------------------------------------- */
  th.input-table > label
  {
    font-weight:   bold;
    display:       block;
    max-width:     calc(100vw - 2 * (6px + 1px + 2px)); /* 6 from div.layout-content, 1 from border, and 2 from padding */
    margin-bottom: 2px;
    text-align:    left;
    color:         #454545;
  }

  tr.input-table input[type="radio"] + label,
  tr.input-table input[type="checkbox"] + label
  {
    font-weight: normal;
    display:     inline;
  }

  th.input-table > label.mandatory:after
  {
    color:   red;
  }

  th.input-table > label.error
  {
    color: red;
  }

  td.input-table.error
  {
    font-size:  11px;
    display:    block;
    margin-top: 2px;
  }

  /* ---------------------------------------------------------------------------------------------------------------- */
  div.input-table.button-group
  {
    display:         flex;
    flex-direction:  row;
    justify-content: space-evenly;
    width:           calc(100vw - 2 * 6px);
    padding:         8px 0;
  }

  div.input-table.button-group > input[type=button],
  div.input-table.button-group > input[type=submit]
  {
    flex-grow:          1;
    border-radius:      0;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
  }

  /* ---------------------------------------------------------------------------------------------------------------- */
  td.input-table > span.country_control
  {
    display:        flex;
    flex-direction: column;
    max-width:      calc(100vw - 2 * (6px + 1px + 2px));
  }

  /* ---------------------------------------------------------------------------------------------------------------- */
}
