@media only screen and (max-width: 40em)
{
  /* ---------------------------------------------------------------------------------------------------------------- */
  .it-header
  {
    display: inline;
  }

  .it-row
  {
    display:       block;
    margin-bottom: 12px;
  }

  .it-cell
  {
    display: block;
  }

  /* ---------------------------------------------------------------------------------------------------------------- */
  /*                                                                                                                  */
  /*                                           buttons                                            */
  /*                                                                                                                  */
  /* ---------------------------------------------------------------------------------------------------------------- */
  .it-button-cell-wrapper
  {
    font-weight:   bold;
    display:       block;
    max-width:     calc(100vw - 2 * (6px + 1px + 2px)); /* 6 from div.layout-content, 1 from border, and 2 from padding */
    margin-bottom: 2px;
    text-align:    left;
    color:         #454545;
  }

  /* ---------------------------------------------------------------------------------------------------------------- */
}
