/.idea/
/.phpunit.result.cache
/bin/
/composer.lock
/custom.task.properties
/custom.type.properties
/node_modules/
/package-lock.json
/plaisio-assets.csv
/test/coverage.xml
/test/report/
/vendor/
/www/js/**/*.js
/www/js/**/*.map
/www/js/Plaisio/Form/
/www/js/Plaisio/Helper/
/www/js/Plaisio/Table/
