@media all and (max-width: 40em)
{
  div.admin-menu-logo
  {
    display: none;
  }

  div.grid-admin-menu
  {
    position:  absolute;
    top:       0;
    right:     0;
    font-size: larger;
  }

  a.admin-menu-link
  {
    display:          block;
    color:            #FFFFFF;
    background-color: #333333;
    text-decoration:  none;
    padding:          19px 10px;
  }

  ul.menu-level-0
  {
    clear:            both;
    overflow:         hidden;
    max-height:       0;
    background-color: #F4F4F4;
    position:         absolute;
    top:              92px;
    right:            0;
  }

  ul.menu-level-0.menu-admin.active
  {
    max-height: 55em;
  }

  ul.menu-admin.menu-level-1
  {
    float:            none;
    overflow:         hidden;
    max-height:       0;
    background-color: #FDFDFD;
    padding:          0;
    border:           none;
    display:          inherit;
    position:         relative;
    left:             auto;
    top:              auto;
  }

  ul.menu-level-1.active
  {
    max-height: 55em;
  }

  li.menu-admin:not(.menu-level-0) > a
  {
    padding-left: 1.6em;
  }

  li.menu-admin.menu-level-0
  {
    background-color: #EFEFEF;
  }

  li.menu-admin.menu-level-0 > a:after
  {
    content:   '+';
    position:  absolute;
    top:       0;
    right:     0;
    font-size: 1.5em;
    padding:   0.4em 0.5em; /* half of padding above */
    display:   block;
  }

  li.menu-admin.menu-level-0.active > a:after
  {
    content: "-";
  }

  li.menu-admin.menu-active > a
  {
    background: #AAAAAA;
  }

  li.menu-admin > a
  {
    display:         block;
    padding:         0.8em;
    border-bottom:   1px solid #808080;
    border-left:     1px solid #808080;
    position:        relative;
    color:           #000000;
    text-decoration: none;
    font-size:       larger;
  }

  a.menu-admin:hover
  {
    background-color: #B7F9B7;
  }
}
