@media all and (min-width: 40em)
{
  .grid-container
  {
    display:               grid;
    grid-template-columns: max-content 1fr;
    grid-template-areas:   "header     header header"
                           "info1      info2  info2"
                           "admin-menu main   main";
  }
}
