.icons-small
{
  background-image: url(/css/Plaisio/PageDecorator/CorePageDecorator/images/icons-small.png);
  display: inline-block;
  width: 12px;
  height: 12px;
}

.icons-small-babel-fish
{
  background-position: 0 0;
}

.icons-small-delete
{
  background-position: -12px 0;
}

.icons-small-details
{
  background-position: -24px 0;
}

.icons-small-edit
{
  background-position: -36px 0;
}

.icons-small-false
{
  background-position: 0 -12px;
}

.icons-small-true
{
  background-position: -12px -12px;
}
