@media only screen and (min-width: 40em)
{
  /* ---------------------------------------------------------------------------------------------------------------- */
  /*                                                                                                                  */
  /*                                           labels and errors                                                      */
  /*                                                                                                                  */
  /* ---------------------------------------------------------------------------------------------------------------- */
  th.input-table > label.mandatory:after
  {
    color: red;
  }

  th.input-table > label.error
  {
    color: red;
  }

  td.input-table.error
  {
    font-size:  11px;
    display:    block;
    margin-top: 2px;
  }
}
