table.ot
{
  empty-cells:     show;
  border-spacing:  2px;
  border-collapse: separate;
}

.ot-header
{
  text-align:       center;
  vertical-align:   middle;
  padding:          5px;
  background-color: #D3DCEE;
  font-weight:      bold;
}

.ot-row.even
{
  background-color: #EEEEEE;
}

.ot-row.is-odd
{
  background-color: #D5D5D5;
}

.ot-row:hover
{
  background-color: #B7F9B7;
}

.ot-table-men-icon:hover,
.ot-table-men-item:hover
{
  background-color: #B7F9B7;
}

.ot-table-menu-row-count
{
  padding:        2px 2px;
  margin:         0 3px 0 0;
  border:         1px solid gray;
  height:         12px;
  font-size:      12px;
  display:        inline-block;
  text-align:     center;
  vertical-align: bottom;
}
