@media only screen and (max-width: 40em)
{
  table.ot
  {
    width: 100%;
  }

  /* Force table to not be like tables anymore */
  table.ot,
  thead.ot,
  tbody.ot,
  .ot-filter-row > td,
  .ot-filter-row,
  .ot-header,
  .ot-row > td,
  .ot-row
  {
    display: block;
  }

  .ot-row > td
  {
    min-height: 12px;
  }

  .ot-row
  {
    margin-bottom: 0.5em;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .ot-header
  {
    position: absolute;
    top:      -9999px;
    left:     -9999px;
  }

  .ot-row > td,
  .ot-filter-row > td
  {
    position:      relative;
    padding-left:  35vw;
    text-align:    left;
    border:        none;
    border-bottom: 1px solid white;
  }

  .ot-row > td:before,
  .ot-filter-row > td:before
  {
    font-family:      Arial, Helvetica, sans-serif;
    font-weight:      bold;
    position:         absolute;
    top:              0;
    bottom:           0;
    left:             0;
    overflow-x:       hidden;
    width:            31vw;
    padding:          5px 5px 5px 6px;
    white-space:      nowrap;
    background-color: #d3dcee;
  }

  .ot-filter
  {
    padding-top:      0;
    padding-right:    0;
    padding-bottom:   0;
    background-color: #dddddd;
  }
}
