ul.secondary-menu
{

  display:        flex;
  flex-direction: row;
  flex-wrap:      wrap;
  padding-left:   40px;
  list-style:     none;
  border-bottom:  1px solid #999999;
  background:     #eeeeee;
}

.secondary-menu > li
{
  float:   left;
  margin:  0 1px 0 2px;
  padding: 0;
}

.secondary-menu > a
{
  position:        relative;
  left:            1px;
  display:         block;
  float:           left;
  margin:          5px 0 -1px;
  padding:         4px 8px;
  text-decoration: none;
  color:           #333333;
  border:          1px solid #777777;
  border-bottom:   1px solid white;
  border-radius:   6px 6px 0 0;
  background:      #cbcbcb;
}

.secondary-menu > a:not(.selected)
{
  border-bottom: 0;
}

.secondary-menu > a.selected
{
  color:      #222222;
  background: #fefeff; /* Equal to body.background */
}

.secondary-menu > a:hover
{
  text-decoration: none;
}

.secondary-menu > a:not(.selected):not(.disabled):hover
{
  color:      #333333;
  background: #b7f9b7;
}

.secondary-menu > a.disabled
{
  color:      #777777;
  background: #eeeeee; /* Equal to .secondary-menu.background */
}
